:root {
  /* ===== Colores ===== */

    --color-bg: #0F172A;
    --color-surface: #1E293B;

    --color-primary: #38BDF8;
    --color-primary-dark: #0EA5E9;
    --color-secondary: #67E8F9;

    --color-text: #F8FAFC;
    --color-text-light: #94A3B8;

    --color-border: #334155;

  /* ===== Bordes ===== */

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;

  /* ===== Sombras ===== */

    --shadow-sm: 0 4px 12px rgba(0, 0, 0, .25);
    --shadow-md: 0 10px 30px rgba(0, 0, 0, .35);

  /* ===== Transiciones ===== */

    --transition: .25s ease;
}